{{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
{{ 'jquery.fancybox.pack.js' | asset_url | script_tag }}
<div id="email-friend" style="display: none;">
  <div class="form-wrap">
    <h2>Email a Friend</h2>
    <h5 style="text-align:center;margin:100px 0px;display:none;">Your message was sent!</h5>
    <form class="email-friend">
      <input type="hidden" name="product-title" value="{{ product.title }}" />
      <input type="hidden" name="product-url" value="{{ product.url }}" />
      <input type="hidden" name="product-price" value="{{ product.price | money }}" />
      <input type="hidden" name="product-description" value="{{ product.description | replace: '"', "'" | strip_html}}" />
      {% for image in product.images limit:1 %}
      <input type="hidden" name="product-image" value="{{ image | product_img_url: 'medium' }}" />
      {% endfor %}
      <div>
        <label>Your Name <span>*</span></label>
        <input type="text" name="from-name" required="required"/>
      </div>
      <div>
        <label>Your Email Address <span>*</span></label>
        <input type="text" name="from-email" required="required"/>
      </div>
      <div>
        <label>Name of Recipient <span>*</span></label>
        <input type="text" name="to-name" required="required"/>
      </div>
      <div>
        <label>Recipient Email Address <span>*</span></label>
        <input type="text" name="to-email" required="required"/>
      </div>
      <div>
        <label>Message</label><br />
        <textarea name="message"></textarea>
      </div>
      <div>
        <input type="submit" value="Submit"></input>
      </div>
    </form>
  </div>
</div>


<script type="text/javascript">
  $('form.email-friend').on('submit', function(e){
  	e.preventDefault();
    if( !$(this).hasClass('disabled') ){
      var formData = $(this).serialize(),
          //url = 'http://returns.forged.com/forms/email_friend.php?'+formData;
          url = 'http://returns.forged.com/email_friend.php?'+formData;
      $(this).addClass('disabled');
      $(this).find('input[type="submit"]').addClass('disabled').val('Sending...');
      $.get(url, function(d){
      	$('form.email-friend input[type="submit"]').val('Email sent!');
        $('div#email-friend form').fadeOut(300, function(){
          $('div#email-friend h5').fadeIn(300, function(){
            setTimeout(function(){
            	$.fancybox.close();
            }, 1000);
          });
        });
        
        if(typeof _gaq != 'undefined'){
          _gaq.push(['_trackEvent', 'form', 'success', 'email-to-friend']); 
        }else if (typeof ga != 'undefined'){
          ga('send', 'event', 'form', 'success', 'email-to-friend'); 
        }
        
      });
    }
  });
</script>
<script>
  $(document).ready(function(){
  	$('a[href="#email-friend"]').fancybox();
  });
</script>