{% layout settings.customer_layout %}
<div id="customer-wrapper" class="desktop-12 mobile-3">
    <div class="customer-blockmain account-login">  
        {% include 'contact-sidebar' %}

        <div id="template" class="desktop-9 tablet-4 mobile-3 login-rightpart right">
            <div id="" class="formblock">
                <div class="desktop-6 mobile-3 login-form">
                    <h5>returning customers</h5>
                    <!--<p>Please enter your email and password.</p>-->

                    {% form 'customer_login' %}
                        <p>{{ form.errors | default_errors }}</p>

                        <div id="login_email" class="clearfix large_form">
                            <input placeholder="Email Address" type="email" value="" name="customer[email]" id="customer_email" class="large" size="30" />
                        </div>

                        <div id="login_password" class="clearfix large_form">
                            <input type="password" placeholder="Password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
                        </div>

                        <div class="action_bottom">
                            <input class="button" type="submit" value="Login" />
                        </div>

                        <div id="forgot_password">
                            <a class="forgot_password" href="#"  onclick="showRecoverPasswordForm();return false;">{{ 'customer.login.forgot_password' | t }}</a>
                        </div>
                    {% endform %}

                    <div id="recover-password" class="desktop-12 mobile-3" style='display:none'>
                        <div class="template_header">
                            <h2>{{ 'customer.recover_password.title' | t }}</h2>
                            <p class="note">{{ 'customer.recover_password.subtext' | t }}</p>
                        </div>

                        {% form 'recover_customer_password' %}
                            {{ form.errors | default_errors }}

                            <div id="recover_email" class="clearfix large_form">
                                <label for="email" class="large">{{ 'customer.recover_password.email' | t }}</label>
                                <input type="email" value="" size="30" name="email" id="recover-email" class="large" />
                            </div>

                            <div class="action_bottom">
                                <input class="secondary button" type="submit" value="{{ 'customer.recover_password.submit' | t }}" />
                                <span class="note"><a href="#" onclick="hideRecoverPasswordForm();return false;">{{ 'customer.recover_password.cancel' | t }}</a></span>
                            </div>
                        {% endform %}
                    </div>
                </div>

                <div id="create-customer" class="desktop-6 mobile-3 new-customer">
                    <div class="template_header">
                        <h5 class="title">New Customers</h5>
                        <!--<p>Create your Forged Account! You can track your orders, update and share your wishlist and edit personal billing/shipping info.</p>-->
                    </div>

                    <div class="action_bottom account-show-form" >
                        {% form 'contact' %}
                            {% if form.posted_successfully? %}
                              {% assign contact_posted = true %}
                              <p class="success">{{ 'contact.form.post_success' | t }}</p>
                            {% endif %}

                            {% if form.errors %}
                              {% assign contact_posted = true %}
                              <div class="errors">
                                <!-- {{ form.errors.size }} or {{ form.errors | size }} -->
                                <p>Your contact form has {{ form.errors | size | pluralize: ‘an error’, ‘a few errors’ }}. To submit your form, make the following changes and try again:</p>

                                {% for field in form.errors %}
                                  <p>The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field] }}.</p>
                                {% endfor %}
                              </div>
                            {% endif %}

                            <input type="hidden" name="contact[form type]" value="{{ contact-form | default: page.title }}" />

                            <div class="register-form">
                                <div id="first_name" class="clearfix large_form">
                                    <input type="text" value="" name="contact[first_name]" id="first_name" class="large" required placeholder="First Name" size="30" />
                                </div>

                                <div id="last_name" class="clearfix large_form">
                                    <input type="text" value="" name="contact[last_name]" id="last_name" class="large" required placeholder="Last Name" size="30" />
                                </div>

                                <div id="business_name" class="clearfix large_form">
                                    <input type="text" value="" name="contact[business name]" id="business_name" class="large" required placeholder="Business Name" size="30" />
                                </div>

                                <div id="resale_license" class="clearfix large_form">
                                    <input type="text" value="" name="contact[resale license]" id="resale_license" class="large" required placeholder="Resale License" size="30" />
                                </div>

                                <div id="email" class="clearfix large_form">
                                    <input type="email" value="" name="contact[email]" id="email" class="large" required placeholder="Email" size="30" />
                                </div>

                                <div id="phone" class="clearfix large_form">
                                    <input type="text" value="" name="contact[phone]" id="phone" class="large" required placeholder="Phone" size="30" />
                                </div>

                                <input class="button create-accountbtn" type="submit" value="Submit" />
                            </div>
                        {% endform %}
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>

<script type="text/javascript">
    function showRecoverPasswordForm() {
        document.getElementById('recover-password').style.display = 'inline-block';
        document.getElementById('customer').style.display='none';
    }

    function hideRecoverPasswordForm() {
        document.getElementById('recover-password').style.display = 'none';
        document.getElementById('customer').style.display = 'inline-block';
    }

    if (window.location.hash == '#recover') { showRecoverPasswordForm() }
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#hideshowaccount').on('click',function(){
            $('.account-hide-form').hide();
            $('.account-show-form').slideDown();
        });
    });
</script>